<!--
  Generated template for the Survey5Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="nextPage()">Next</button>
    </ion-buttons>
    <ion-title>survey5</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- logo  -->
  <div text-center>
    <img src="{{selectedLogo}}" alt="logo" width=90>
  </div>
  
  <!-- organization -->
  <div text-center padding>
    <h1 (click)="click = !click" style="font-family: Kh Mith Sala Pali;">
      <strong>{{selectedOrganization}}</strong>
    </h1>
    <div *ngIf="click">
      <hr>
      <p>ច្រកទ្វារ > {{selectedOrganization}}</p>
    </div>
  </div>

  <!-- question5 -->
  <ion-item style="color: #008000; background-color: #f4f4f4; border-bottom: 2px solid grey;" (click)="nextPage('a4')" margin-vertical>
    <strong>5. Qurantine Checkpoint</strong>
  </ion-item>
  <!-- <div *ngIf="showq5"> -->
    <ion-item no-lines *ngFor="let q5 of question5_kh">
      <p>{{q5}}</p>
      <ion-row radio-group>
        <ion-col *ngFor="let ans of answer_text">
          <ion-radio value="{{ans}}" (ionSelect)="mcqAnswer(q5, ans)"></ion-radio>
          <p style="color: orange">{{ans}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  <!-- </div> -->

</ion-content>